#head{
    width: 100%;
    overflow: hidden;
    background-color:grey;
    display: flex;
    flex-flow: row inherit;
    justify-items: center;
    align-items: center;
    flex: 1 0 auto;
    background-image: url("header.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#pagina{
    height: 80vh;
    border: 2px;
    border-color: black;
    display: flex;
    text-align: left;
    flex-grow: 1;
    flex-basis: 33%;
    flex-direction: row;
    justify-content: space-around;
    align-self: flex-start;
    background-color: rgb(255, 255, 255);
}
#caja{
    height:80vh;
    width: 65%;
    border-radius: 0.5rem;
    margin: 0.75rem;
    border: 3px black;
    display: flex;
    flex: 1 0 auto;
    background-image: url("caja.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size:cover;
    
}
#personajes{
    height:79vh;
    width: 35%;
    margin: 1rem;
    text-align: center;
    border-radius: 0.5rem;
    border: 3px black;
    background-color: lightgray;
    display:flex;
    flex: 1 0 auto;
    flex-wrap: wrap;
    flex-flow: column;
    align-items: stretch;
}
#personajes > div{
    width: auto;
    height: auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:bolder;
    font-size:large;
    display: flex;
    justify-content: center;
    flex: 1 0 auto;
    text-align: center;
}

#head > button{
    height: 5%;
    width: 15%;
    margin-top: inherit;
    margin-left: 5px;
    margin-right: inherit;
    margin-bottom: inherit;
    text-align: center;
    background-color: rgb(77, 74, 74);
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    overflow: hidden;
}
#head > input{
    margin-top: 2%;
    margin-right: 2%;
    margin-left: 2%;
    width: 65%;
    height: 5%;
    margin-bottom: 2%;
    font-size:large;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    box-shadow: 5px black;
    box-decoration-break: clone;
}